@media (min-width: 320px){
    header .navbar-brand{
        width: 50%;
    }
    header h2,
    header .nav-link{
        font-size:1rem;
    }

    .banner {
        background-image: url(/assets/image/bgbanner.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center bottom;
    }
    .banner h2{
        font-size: 1.3rem;
        font-weight: 700;
    }
    .banner h3{
        font-size: 1rem;
        font-weight: normal;
    }
    .banner button{
        font-size:1rem;
    }
    .destaque-title,
    .card-link-description,
    .card-valor-total,
    .card-valor-desconto,
    .box-descontos .ver-todos,
    #blog .ver-todos{
        font-size:.9rem
    }
    #quando-e h2,
    #qual-o-significado h2,
    #duvidas h2,
    .box-descontos .title-section{
        font-size: 1.4rem;
    }
    #qual-o-significado .img-fluid{
        width: 70%;
    }
    #quando-e p,
    #qual-o-significado p,
    #duvidas p,
    #blog p{
        font-size: 1rem;
    }
    #blog .image-blog {
        width: 100%;
        height: 100px;
    }
    #blog .destaque-title {
        min-height: 120px;
    }
    .group-whatsapp .img{
        width: 50px;
    }
    .group-whatsapp h4{
        color:#1387a1;
        font-size: 1.1rem;
    }
    .group-whatsapp h5{
        color:#fff;
        font-size: 1.2rem;
    }
    .group-whatsapp p{
        color:#fff;
        font-size: .9rem;
    }
    .group-whatsapp .btn-success,
    .group-whatsapp #WhatsappModal .modal-footer .btn-primary {
        font-size: .9rem;
    }
    .img-lgpd img{
        width: 130px;
    }
    .newsletter .btn-primary {
        font-size: 14px;
        padding: .45rem .75rem;
    }
    .newsletter img {
        width: 25px;
    }
    .newsletter img:hover {
        transform: scale(1.3);
    }
    .newsletter .form-check a {
        font-size: 10px;
    }
    #politica-de-privacidade,
    #perguntas-frequentes,
    #imprensa
    #anuncie{
        text-align: justify;
    }
    footer{
        padding-bottom:10rem;
    }
}

@media (min-width: 375px){
    .newsletter .btn-primary {
        font-size: 16px;
        padding: 0.4rem 0.75rem;
    }
    #blog .destaque-title {
        min-height: 95px;
    }
}
@media (min-width: 576px){
    #blog .destaque-title {
        min-height: 80px;
    }
    .banner h2 {
        font-size: 2rem;
    }
    .banner h3 {
        font-size: 1.5rem;
    }
    footer {
        padding-bottom: 8.5rem;
    }
}
@media (min-width: 768px){
    #blog .image-blog {
        width: 100%;
        height: 115px;
    }
    .blog-card-container {
        grid-template-columns: repeat(2, 2fr);
        gap: 16px;
    }
}
@media (min-width: 992px){
    header .py-lg-2{
        padding-top:.4rem !important;
        padding-bottom:.4rem !important;
    }
    .banner {
        background-position: top center;
    }
    .banner h2{
        font-size: 2.2rem;
    }
    .banner h3{
        font-size: 1.8rem;
    }
    #blog .image-blog {
        width: 100%;
        height: 125px;
    }
    .destaque-title,
    .card-link-description,
    .card-valor-total,
    .card-valor-desconto,
    .box-descontos .ver-todos,
    #blog .ver-todos{
        font-size:1.1rem;
    }

    #quando-e h2,
    #qual-o-significado h2,
    #duvidas h2,
    .box-descontos .title-section{
        font-size: 2rem;
    }
    #quando-e p,
    #qual-o-significado p,
    #duvidas p,
    #blog p{
        font-size: 1.1rem;
    }
    
    .newsletter .btn-primary {
        font-size: 16px;
    }
    #politica-de-privacidade,
    #perguntas-frequentes,
    #imprensa
    #anuncie{
        text-align: start;
    }
    footer {
        padding-bottom: 5.5rem;
    }
    footer .bg-dark ul li .img{
        width: 70%;
    }
}
@media (min-width: 1200px){
    header .navbar-brand{
        width: 20%;
    }
    header h2,
    header .nav-link{
        font-size:1.3rem;
    }
    .banner button{
        font-size:1.3rem;
    }
    #blog .destaque-title {
        min-height: 80px;
    }
    .group-whatsapp .img{
        width: 70px;
    }
    .group-whatsapp h4{
        font-size: 1.3rem;
    }
    .group-whatsapp h5{
        font-size: 1.8rem;
    }
    .group-whatsapp p,
    .group-whatsapp .btn-success,
    .group-whatsapp #WhatsappModal .modal-footer .btn-primary{
        font-size: 1.1rem;
    }
    .newsletter img {
        width: 35px;
    }
    .newsletter .form-check a {
        font-size: 12px;
    }
    footer{
        padding-bottom:5rem;
    }
    footer .bg-dark ul li .img{
        width: 80%;
    }
    .blog-card-container {
        grid-template-columns: repeat(3, 3fr);
        gap: 16px;
    }
}
@media (min-width: 1400px) {
    #blog .image-blog {
        width: 100%;
        height: 145px;
    }
    .group-whatsapp h4{
        font-size: 1.5rem;
    }
    .blog-card-container {
        grid-template-columns: repeat(4, 4fr);
        gap: 16px;
    }
}