
p{
    margin-bottom:0;
}
.text-danger{
    color:#da2324 !important;
}
.text-warning{
    color:#fff000 !important;
}
.text-primary{
    color:#94cd42 !important;
}
.text-info{
    color:#1387a1 !important;
}
.bg-info{
    background-color: #1387a1 !important;
}
.bg-danger{
    background: #da2324 !important;
}
.bg-secondary{
    background-color:rgb(230,230,230) !important;
}
header .navbar-collapse {
    flex-grow: 0;
}
header h2,
header .nav-link{
    color: #1387a1;
    font-weight: 500;
}
header .navbar-toggler {
    border-color:transparent;
}
header .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 176, 240, 0.9%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.bg-dark{
    background-color:#121212 !important;
}
.bg-dark-light{
    background-color: #191717;
}
.bg-dark-light img{
    width: 100%;
}
.bg-shadow{
    background: url(https://cybermondaybrasil.com.br/assets/image/bgbanner.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    background-color:#94cd42;
}
.bg-white{
    background-color: #fff;
}
.navbar-brand img{
    width: 60%;
}
a.flip-animate {
    perspective: 1000px; 
}
a.flip-animate span { 
    position: relative;
    display: inline-block;
    padding: 0; transition:
    transform 0.2s;
    transform-origin: 50% 0;
    transform-style: preserve-3d;
}
a.flip-animate span:before { 
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    content: attr(data-hover);
    transition: color 0.2s;
    transform: rotateX(-90deg);
    transform-origin: 50% 0;
    text-align: center;
}

a.flip-animate:hover {
    cursor: pointer;
}
a.flip-animate:hover span, 
a.flip-animate:focus span {
    transform: rotateX(90deg) translateY(-22px); 
}
a.flip-animate:hover span:before, 
a.flip-animate:focus span:before {
    color: #94cd42;
}
.wrap-clube-de-ofertas a.flip-animate:hover span:before, 
.wrap-clube-de-ofertas a.flip-animate:focus span:before,
#blog a.flip-animate:hover span:before, 
#blog a.flip-animate:focus span:before {
    color: #fff !important;
}
.banner .checkbox-area{
    font-size: .9rem;
}
.banner .checkbox-area a{
    color:inherit;
}
.banner .checkbox-area a:hover{
    opacity: .8;
}
/*Copy css clube de descontos - slider*/
.wrap-clube-descontos {
    background: url(https://cybermondaybrasil.com.br/assets/image/bg-whats-black.jpg) center top repeat-x;
    padding-bottom: 20px;
}
.owl-carousel{
    position:relative
}
.owl-carousel .owl-item img{
    width:inherit
}
.owl-shadow.owl-carousel .owl-stage-outer{
    margin-right:-15px
}
.banner-clubedescontos .owl-carousel .owl-stage-outer{
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    border-radius:10px
}
/*End Slider*/

.primary-text-container {
    h2 {
        font-size: 28.5px !important;
        font-weight: normal !important;

        span {
            font-size: 50px !important;
            color: #1387A1 !important;
        }
    }

    h3 {
        text-transform: none !important;
        font-size: 28.5px !important;
        font-weight: normal !important;

        span {
            font-size: 50px !important;
            color: #94CD42 !important;
        }
    }
}

/*Copy css clube de descontos - top ofertas, destaques, top 5 da semana e hotline*/
.box-descontos {
    background-color: #E5F2F5;
    padding-bottom: 30px;
    padding-top: 30px;
}
.box-subtitle-in {
    margin-bottom: 30px;
    height: 50px;
    line-height: 50px;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    border-radius: 7px;
}
.box-subtitle-in-black {
    background: #2e2e2e;
    background: linear-gradient(0deg, #2e2e2e 0%, #0f0f0f 100%);
}
.box-subtitle-in-black .subtitle {
    color: #fff;
}
.card-in {
    background-color: #fff !important;
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    min-height: 345px;
    padding: 13px;
    position: relative;
    text-decoration: none;
    border-radius: 8px;
}
.card-media {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
}
.card-loja {
    border-bottom: 2px solid #CCC;
    color: #646569;
    font-size: 13px;
    font-weight: 400;
    padding-bottom: 6px;
    text-transform: uppercase;
}
.valor-line {
    text-decoration: line-through;
}
.card-percent {
    background-color: #70a83b;
    color: #fff;
    font-size: 14px;
    padding: 7px;
    position: absolute;
    right: 15px;
    text-align: center;
    top: 15px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
}
.card-link-description {
    align-items: center;
    color: #191919;
    display: flex;
    font-size: 16px;
    font-weight: 400;
    justify-content: center;
    line-height: 17px;
    min-height: 98px;
    text-align: center;
    text-decoration: none;
}
.myLink {
    cursor: pointer;
}
.box-descontos a, .box-1 a {
    color: inherit;
}
.card-description {
    padding-top: 10px;
}
.card-valor-desconto {
    font-size: 15px;
    font-weight: 600;
}
.ico-title {
    margin-right: 10px;
}
.subtitle {
    color: #191919;
    font-size: 19px;
    font-weight: 600;
    height:100%;
    margin-bottom:0;
    display: flex;
    align-items: center;
}
.blur {
    filter: blur(4px);
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
}
.hotline-item {
    background-color: #1387a1;
    -webkit-box-shadow: 6px 7px 7px -4px rgb(79 79 79 / 80%);
    box-shadow: 0px 7px 7px -4px rgb(79 79 79 / 80%);
    color: #fff;
    display: block;
    font-size: 16px;
    font-weight: 600;
    line-height: 23px;
    padding: 25px;
    text-align: center;
    text-decoration: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
}
.hotline a {
    color: #fff;
}
.hotline-item:hover {
    background-color: #94cd42;
    color: #212121;
}

.hotline .owl-theme .owl-nav {
    margin-top: 25px;
    width: 90px;
}
.owl-nav {
    position: absolute;
    right: 0;
    top: -83px;
    width: 100px;
}
.owl-theme .owl-nav {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-nav [class*=owl-] {
    color: #FFF;
    font-size: 14px;
    margin: 5px 0;
    padding: 4px 7px;
    background: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
}
.owl-theme .owl-nav [class*=owl-] img {
    width: 28px;
}
.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
.box-1{
    background-color: #FFFFFF;
    padding-top:3rem;
}
.top5-item {
    float: left;
    margin-top: 6px;
    margin-bottom: 6px;
    padding: 10px;
    width: 100%;
}
.top5-link {
    /* border-bottom: 1px solid #b2afaf; */
    color: #191919;
    display: block;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 7px;
    padding-bottom: 7px;
    text-decoration: none;
}
.top5-price {
    color: #191919;
    font-size: 12px;
}
.top-price-de {
    display: inline-block;
    margin-right: 10px;
}
.top-price-de i {
    text-decoration: line-through;
}
.mb-20 {
    margin-bottom: 20px;
}
.wrap-clube-de-ofertas{
    padding-bottom:0 !important;
}
/*Copy css clube de descontos - top ofertas, destaques, top 5 da semana e hotline*/

/*Copy css blog*/
.destaques {
    background-color: #1387a1;
}
.bg-green {
    background-color: #94cd42;
}
.title-section {
    color: #fff;
    font-weight: 800;
    margin-bottom: 25px;
    text-transform: uppercase;
}
.title-section .title-section-dark {
    color: #000;
}
.title-section .title-section-barra {
    background-color: #fff;
    display: block;
    height: 4px;
    margin: 10px 0 0 0;
    width: 90px;
}
.destaque-link {
    background-color: #fff;
    display: block;
    text-decoration: none;
    border-radius: 8px;
}
.destaque-link img {
    border-radius: 8px 8px 0 0;
}
.destaque-content {
    min-height: 170px;
    padding: 16px;
}
.destaque-title {
    color: #505050;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 10px;
    min-height: 60px;
}
.button-block-sm {
    background: #1387a1;
    border: none;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: .85rem;
    font-weight: 600;
    margin: 0 auto;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 100px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}
.button-block-sm:hover{
    opacity: .8;
}
.box-descontos .ver-todos,
#blog .ver-todos {
    color: #fff;
    float: right;
    text-transform: uppercase;
    text-decoration: none;
}
.box-descontos .ver-todos:hover,
#blog .ver-todos:hover {
    color: #fff;
    text-decoration: underline;
}
.destaque-item {
    margin-bottom: 15px;
    margin-top: 15px;
}
/*End Copy css blog*/



/*index*/
#quando-e h2,
#qual-o-significado h2,
#duvidas h2,
#blog h2,
.wrap-clube-de-ofertas h2{
    font-family: 'Poppins', sans-serif;
    font-weight:700;
}
#quando-e h2 span,
#qual-o-significado h2 span,
#duvidas h2 span{
    color:#00b0f0;
}
#quando-e .line-blue,
#duvidas .line-blue,
.wrap-clube-de-ofertas .line-blue{
    background-color:#1387a1;
    display: block;
    height: 4px;
    margin: 10px 0 0 0;
    width: 90px;
}

#qual-o-significado .line-green{
    background-color:#94cd42;
    display: block;
    height: 4px;
    margin: 10px 0 0 0;
    width: 90px;
}
#duvidas .accordion-button{
    color: #212529;
    background-color: transparent;
}
#duvidas .accordion-button:not(.collapsed) {
    color: #006ab2;
    background-color: #f1f1f1;
    box-shadow: none;
}
#duvidas .accordion-button:focus {
    border-color: none;
    box-shadow: none;
}

/*paginas internas*/
#politica-de-privacidade .breadcrumb li a,
#perguntas-frequentes .breadcrumb li a,
#imprensa .breadcrumb li a,
#anuncie .breadcrumb li a,
#post-blog .breadcrumb li a{
    color: #6c757d;
    text-decoration: none;
}
#politica-de-privacidade ul,
#perguntas-frequentes ul,
#imprensa ul,
#anuncie ul{
    padding-left: 1rem;
}
#politica-de-privacidade h4,
#perguntas-frequentes h4,
#imprensa h4,
#anuncie h4{
    font-size: 1.2rem;
}
#politica-de-privacidade .btn-primary,
#perguntas-frequentes .btn-primary,
#imprensa .btn-primary,
#anuncie .btn-primary,
#blog .btn-primary,
.banner .btn-primary{
    background: #94cd42;
    border: none;
    border-radius: .8rem;
}
#politica-de-privacidade .btn-primary:hover,
#perguntas-frequentes .btn-primary:hover,
#imprensa .btn-primary:hover,
#anuncie .btn-primary:hover,
#blog .btn-primary:hover,
.banner .btn-primary:hover{
    opacity: .8;
}
#politica-de-privacidade aside ul li,
#perguntas-frequentes aside ul li,
#imprensa aside ul li,
#anuncie aside ul li{
    list-style: none;
}
#politica-de-privacidade aside ul li a,
#perguntas-frequentes aside ul li a,
#imprensa aside ul li a,
#anuncie ul li a{
   text-decoration: none;
}
#politica-de-privacidade aside ul li a:hover,
#perguntas-frequentes aside ul li a:hover,
#imprensa aside ul li a:hover,
#anuncie aside ul li a:hover{
    opacity: .5;
 }
#politica-de-privacidade article img,
#perguntas-frequentes article img,
#imprensa article img,
#anuncie article img{
    max-width: 100%;
}



/*Form anuncie*/
#anuncie form .form-control {
    border-radius: 0.75rem;
    box-shadow: inset 2px 2px 0px rgba(0, 0, 0, 0.26);
}
#anuncie form label{
    letter-spacing: .025rem;
    font-weight: 300;
}

/*section group whatsapp*/
.group-whatsapp {
    background: url(https://cybermondaybrasil.com.br/assets/image/bg-whats-black.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.group-whatsapp .icon{
    width: 55px;
}

.group-whatsapp img{
    width: 35%;
}

.group-whatsapp .btn-success{
    background: linear-gradient(0deg, #107233 0%, #188f43 100%);
    border: none;
    box-shadow: 5px 5px 5px #242424;
}
.group-whatsapp .btn-success:hover{
    opacity: .8;
}
.group-whatsapp #WhatsappModal .btn-close {
    background-color: #fff;
    margin: 0;
    position: absolute;
    opacity: 1;
    top: -4%;
    right: 0%;
    border-radius: 50%;
}
.group-whatsapp #WhatsappModal p {
    font-size: 1rem;
}
.group-whatsapp #WhatsappModal .whatsapp-modal-bg{
    background-color: #2d2d2d;
}
.group-whatsapp #WhatsappModal .modal-header{
    border:none;
}
.group-whatsapp #WhatsappModal .modal-footer{
    background: url(https://cybermondaybrasil.com.br/assets/image/bg-whats.png) center center no-repeat;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    border-radius: 0;
}
.group-whatsapp #WhatsappModal .modal-footer a{
    color:inherit;
}
.group-whatsapp #WhatsappModal .modal-footer .btn-primary{
    background: linear-gradient(0deg, #62b660 0%, #62b660 0%);
    color:#fff;
    border:none;
    font-size: 1.1rem;
}

/*Newsletter*/
.newsletter .btn-primary {
    background-color: #1387a1;
    border-color: #1387a1;
    font-weight: bold;
    padding: .375rem .75rem;
    width: 100%;
    color: #fff;
}
.newsletter .btn-primary:hover{
    opacity: .8;
}
.newsletter .form-check a {
    color: #fff;
    text-decoration: none;
}
.newsletter .form-check a:hover {
    text-decoration: underline;
}

.newsletter .form-check-input:checked {
    background-color: #1387a1;
    border-color: #1387a1;
}
.newsletter .line-blue{
    border-top: 2px solid #1387a1;
}

/*Footer*/
footer a{
    color:inherit;
}
footer li,
footer li a{
    color: #717171;
    text-decoration: none;
    font-size: 1.1rem;
    list-style: none;
}
footer p{
    color:#717171;
    font-size: .9rem;
    line-height: 1.2;
}
footer a:hover,
footer li a:hover{
    color: #006ab2;
}
footer .img:hover{
    filter: brightness(0) invert(.5);
}

.ad-responsive iframe{
    width: 100% !important;
}
.ad-responsive .img-ad { width: 320px; height: 100px; }
@media(min-width: 500px) { .ad-responsive { width: 468px; height: 60px; } }
@media(min-width: 800px) { .ad-responsive { width: 728px; height: 90px; } }

#form_anuncie .checkbox-area a{
    color:inherit;
}
#clube_top_five .top5-ultimas-unidades {
    border: 2px solid red;
    position: relative;
}
#clube_top_five .top5-ultimas-unidades-img {
    position: absolute;
    right: 0;
    bottom: 0;
}
#clube_top_five .top5-termina-em-1-hora {
    position: relative;
    border: 2px solid #355ebb;
}
#clube_top_five .top5-termina-em-1-hora-img {
    position: absolute;
    right: 2%;
    bottom: 5%;
}
.blog-text-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    h2 {
        color: #ffffff !important;

        span {
            color: #000000 !important;
        }
    }
}
.line-white{
    background-color:#ffffff;
    display: block;
    height: 4px;
    margin: 10px 0 0 0;
    width: 90px;
}
.blog-card-container{
    display: grid;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
}
.blog-card{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 8px;
    max-width: 300px;
    overflow: hidden;
    margin: 32px 0 0 0;

    img {
        min-height: 140px;
    }
    div {
        display: flex;
        flex-direction: column;
        min-height: 216px;
    }
    div > p {
        font-weight: bold;
        padding: 26px 26px 0 26px;
        min-height: 132px;
    }
    div > button {
        width: max-content;
        margin: 26px auto;
        background-color: #1387A1;
        text-transform: uppercase;
        font-weight: bold;
        color: #ffffff;
        border: none;
        outline: none;
        padding: 4px 16px;
        border-radius: 6px;
    }
}